<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Beklager, en feil har oppstått</title>
	</head>

	<body>
		<div class="wrap container" id="UKMWP_wrapper" style="margin-left:0px;">
			<h1>Beklager, en feil har oppstått!</h1>
			<p>{{ error }}</p>
		</div>
	</body>
</html>