<form class="">
	<div class="form-group">
		<select class="form-control" onChange="checkSelected(this)">
			{% for category in categories %}
				<option value="{{ category.id }}" {{ category.id == selected_cat.id ? 'selected' : ''}}>{{ category.name }}</option>
				{% if loop.last %} 
					<option value="new">eller ny:</option>
				{% endif %}
			{% else %}
				<option value="new" disabled="disabled" selected="selected">Ny kategori:</option>
			{% endfor %}
		</select>
	<div>
</form>
{# Vises kun ved ingen kategorier eller valget "eller ny:" er valgt. #}
<div id="nyKategori" class="" style="{{ categories is empty ? '' : 'display: none;' }} ">
	<h4>Navn</h4>
	{# TODO: Finn ut hvorfor denne ikke er fullbredde #}
	<form class="form-inline">
		<div class="form-group">
			<input type="text" name="name" id="name" class="form-control">
		</div>
		<button type="submit" class="btn btn-success">Legg til</button>
	</form>
</div>

<script>
// TODO: Redirect til ?cat=element.value ved klikk.
function checkSelected(element) {
	if(element.value == 'new') {
		jQuery("#nyKategori").slideDown();
	}
	else jQuery("#nyKategori").slideUp();
}
</script>